*,body{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#fff;
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    outline: none;
}
.background-color{
    background-color: rgb(187, 187, 187);
}