*,body{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#fff;
}

a{
    text-decoration: none;
    outline: none;
}